@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
  --font-castoro: var(--font-castoro);
  --color-custom_text: #191919;
  --color-custom_white: #ffffff;
  --color-custom_black: #000000;
  --color-custom_green-500: #243831;
  --color-custom_green-300: #2b5f44;
  --color-custom_green-100: #d8e9e4;
  --color-custom_golden: #c5a365;
  --color-custom_gray-100: #bbc2c0;
  --color-custom_gray-300: #939494;
  --color-custom_success: #49a569;
}
